/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/admin-assets/css/bootstrap/
/public/admin-assets/css/animate.min.css
/public/admin-assets/fontawesome/
/public/admin-assets/fonts/
/public/admin-assets/images/
/public/admin-assets/js/bootstrap/
/public/admin-assets/js/jquery-3.5.1.min.js
/public/admin-assets/js/popper.js
